@{
    ViewData["Title"] = "Contato";
}

<script src="https://kit.fontawesome.com/172a9e1537.js" crossorigin="anonymous"></script>

<section align="center">
    <h1 class="display-1" align="center">Fala com a gente!</h1>

</section>

<canvas style="height:1rem">
</canvas>
<hr class="my-4">
<canvas style="height:1rem">
</canvas>

<h6 align="center"> Nossa politica é responder em até 3 dias úteis</h6></h3>


<section align="center">

    <canvas style="height:1rem">
    </canvas>

    <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label"> Seu endereço de e-mail</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" style="background-color:floralwhite" placeholder="nome@exemplo.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label" ">Sobre o que vamos conversar?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background-color: floralwhite "></textarea>
    </div>

    <div align="center">
        <btn type="button" class=" btn ; btn-outline-success"> Enviar</btn>
    </div>

</section>
<hr class="my-4">





<canvas style="height:1rem">
</canvas>
<section>
    <div class="row justify-content-center">

        <div class="col-md-4">
            <h2> <i class="fas fa-map-pin"></i> Endereço </h2>

            <h6> Rua Padre Leonardo Nunes, 862 - Sala 02 </h6>

            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 200px">
                <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        style="border:0 ; height:196px" allowfullscreen></iframe>
            </div>
            <hr class="my-4">
            <div>
                <h2><i class="far fa-clock"></i> Horário de Funcionamento </h2>

                <h6>
                    8h00 - 22h00 de
                    Segunda - Sábado

                </h6>
                <h6>
                    09h00 - 20h00 em
                    Domingos e Feriados
                </h6>

            </div>

        </div>
        <div class="col-md-4">
            <canvas style="height:125px"></canvas>
            <h2> Nossas Redes Sociais </h2>
            <ul class="list-group list-group-flush" style="align-content:center ; background:none ;border-top:none ">
                <li class="list-group-item" style="height:50px; background:none"> <i class="fab fa-instagram"></i>  Instagram </li>
                <li class="list-group-item" style="height:50px; background:none"> <i class="fab fa-facebook-square"></i> Facebook </li>
                <li class="list-group-item" style="height:50px; background:none"> <i class="fab fa-whatsapp"></i> WhatsApp</li>
                <li class="list-group-item" style="height:50px; background:none"><i class="fas fa-at"></i> E-mail </li>

            </ul>


        </div>
    </div>
</section>


<canvas style="height:1rem">
</canvas>





