@{
    ViewData["Title"] = "Quem somos?";
}
<section class="text-center">
    <h1 class="display-1"> Quem somos?</h1>

    <h3 class="">Um pouco sobre a filosofia GreenVet e nossos profissionais</h3>
</section>


<canvas style="height:2rem">
    vas

</canvas>

<hr class="my-4">

<section class="align-content-center">
    <div align="center" ">
        <h1 class="display-4"> Filosofia de trabalho</h1>
        <p class="font-italic">
            Somos uma empresa veterinária que preza pelo bem-estar dos animais de companhia, e
            busca humanizar o atendimento veterinário, além de proporcionar uma experiência única de
            atendimento ao pet, e aos tutores. Utilizamos terapias holísticas, também chamadas de terapias paralelas,
            juntamente com alopatia para tratamento e prevenção de afecções.
        </p>
    </div>
    <canvas style="height:3rem"></canvas>
    <div align="center">
        <h2 class="display-4"> O que são terapias paralelas?</h2>
        <p>
            As terapias paralelas são amplamente utilizadas na Medicina Humana porém menoss difundidas em centros veternários. Porém
            elas funcionam tão bem nos nossos bichinhos quanto em nós! Esses métodos são menos invasivos e mais conservadores à fisiologia animal.
            Aqui nós as utilizamos em conjunto com as terapias
            medicamentosas caso haja necessidade, ou exclusivamente, tudo depende do que o seu pet precisa!
            Entre as terapias holísticas encontram-se a homeopatia, acupuntura, alimentação natural, iridologia animal,
            reike, aromaterapia, florais, entre outras.
        </p>
    </div>

</section>



<canvas style="height:10px">
</canvas>



<section class="text-center ">

    <h1 class="display-4"> Conheça nossos vets!</h1>
    <canvas style="height:7px">
    </canvas>


</section>
    <div class="card-group" style="background:none">

        <div class="card" style="background:none; ">


            <div style="align-content:center" class="card-header">

                <img style="max-width: 150px" src="~/Imagens/bini2.png" class="rounded-circle" alt="...">
            </div>

            <div class="card-body">

                <h5 class="card-title">Felipe Bini</h5>
                <p class="card-text">
                    Formado em Medicina veterinária pela pipipopo atua como veterinário a xx anos especializado em litis porpf lsadj
                    fflçdhfs ldjfhasklfhsd skdfh lsdhfl kks lospda paosj asmklç asjç ´lc jdjl djlfjsdkjls jsldfj jsdl jsfldjfl
                    lsdkf lçsdjfçd ouytrsp sdi alsfh hjas o as  safoi asjld aslksa  asçsa dç ças çp dasjfjs f´sfas fpshffh afaspfs
                    fjklhl svnjc vvs vshvçzo sodiçufo sdu gs[dsdg sd sdç hksdlygf
                </p>

                <a asp-area="" asp-controller="Home" asp-action="Contato" class="btn btn-outline-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Agende uma consulta</a>
            </div>
        </div>

        <div class="card" style="background:none">

            <div class="card-header">

                <img style="max-width: 150px" src="~/Imagens/Ednaldo.jpg" class=" rounded-circle" alt="...">
            </div>

            <div class="card-body">

                <h5 class="card-title">Ednaldo Pereira</h5>
                <p class="card-text">
                    Formado em Medicina veterinária pela pipipopo atua como veterinário a xx anos especializado em litis porpf lsadj
                    fflçdhfs ldjfhasklfhsd skdfh lsdhfl kks lospda paosj asmklç asjç ´lc jdjl djlfjsdkjls jsldfj jsdl jsfldjfl
                    lsdkf lçsdjfçd ouytrsp sdi alsfh hjas o as  safoi asjld aslksa  asçsa dç ças çp dasjfjs f´sfas fpshffh afaspfs
                    fjklhl svnjc vvs vshvçzo sodiçufo sdu gs[dsdg sd sdç hksdlygf
                </p>

                <a asp-area="" asp-controller="Home" asp-action="Contato" class="btn btn-outline-success btn-lg" tabindex="-1" role="button" aria-disabled="true">Agende uma consulta</a>
            </div>
        </div>

    </div>



<canvas style="1rem">
</canvas>
