@{
    ViewData["Title"] = "Serviços";
}



<section style="text-shadow" class="text-center">
    <h1 class="display-1">Nossos serviços:</h1>

</section>






<canvas style="height:3rem">
</canvas>


<hr class="my-1">

<canvas style="height:2rem">
</canvas>
<section>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Exames Laboratoriais</h5>
                    <p class="card-text">Exames de sangue, citologias, parasitológicos, entre outros</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Exames de imagem</h5>
                    <p class="card-text">Aqui são feitos exames complementares de Ultrassom, Radiografias, Ecocardiogramas.</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Cirurgias</h5>
                    <p class="card-text">Centro cirúrgico equipado e apto para realização de cirurgias simples e complexas.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Vacinas</h5>
                    <p class="card-text">Imunização completa do seu pet com vacinas importadas e de maior garantia.</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent " ">
                <div class="card-body text-success">
                    <h5 class="card-title"> Exames Laboratoriais</h5>
                    <p class="card-text">Exames de sangue, citologias, parasitológicos, entre outros</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title"> Exames Laboratoriais</h5>
                    <p class="card-text">Exames de sangue, citologias, parasitológicos, entre outros</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Consultas Clínicas</h5>
                    <p class="card-text">Atendimento Clínico Geral de animais domésticos e silvestres, para avaliar seu pet.</p>
                </div>

            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Consultas com especialistas</h5>
                    <p class="card-text">Profissionais aptos em áreas específicas como Neurologia, Cardiologia, etc</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title">Atendimento à domicílio</h5>
                    <p class="card-text">Disponibilizamos atendimento domiciliar, no conforto do seu lar.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4, align-content-center">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <div class="card-body text-success">
                    <h5 class="card-title"> Pet Sitter</h5>
                    <p class="card-text">Serviço de cuidados temporários em sua casa do seu animal de estimação.</p>
                </div>

            </div>

        </div>


</section>

<canvas style="height:4rem">
</canvas>

<div style="border-top" class="text-center ; ">
    <btn asp-area="" asp-controller="Home" asp-action="Contato" class="btn btn-outline-success btn-lg" role="button">CASO QUEIRA SOLICITAR ALGUM CLIQUE AQUI</btn>

</div>

<canvas style="height:2rem">
</canvas>





